<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="#" class="navbar-brand">FoodApp</a>
            <div class="navbar">
                <a class="nav-item nav-link" href="#">Add item</a>
                <a class="nav-item nav-link" href="#">Delete item</a>
                <a class="nav-item nav-link" href="#">View item</a>
            </div>
        </nav>
        {%for item in item_list%}
        <ul>
            <li>
                <a href="{%url 'detail' item.id %}">  {{item.id}} -- {{item.item_name}}</a>
            </li>
        </ul>
        {% endfor %}
        

    </body>
</html>


