{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%block body%}
        {%for item in item_list%}
        <div class= "row">
            <div class= "col-md-3 offset-md-2">
                <img class="card" height= "150px" src="{{item.item_image}}"/>
            </div>
            <div class= "col-md-4">
                <h3> {{item.item_name}} </h3>
                <h5> {{item.item_des}} </h5>
                <h5> ${{item.item_price}} </h5>
            </div>
            <div class= "col-md-2">

            </div>
        </div>
        {% endfor %}
        {%endblock %}
          <ul>
            <li>
                <a href="{%url 'detail' item.id %}">  {{item.id}} -- {{item.item_name}}</a>
            </li>
        </ul>

    </body>
</html>


